/* 其他 */
/* minimap相关图片 */

/* 画布中节点组件中的图标 */
.icon-errors {
  background-image: url(../assets/image/svg/errors.svg);
}

.icon-plus-dark {
  background-image: url(../assets/image/svg/plus-dark.svg);
}

.icon-plus-light {
  background-image: url(../assets/image/svg/plus-light.svg);
}

.icon-plus-light:hover {
  background-image: url(../assets/image/svg/plus-dark.svg);
}

.icon-node-base {
  background-image: url(../assets/image/svg/node/icon-node-base.svg);
}

.icon-qqemail {
  background-image: url(../assets/image/svg/node/icon-node-qq-email.svg);
}

.icon-quartz {
  background-image: url(../assets/image/svg/node/icon-node-quartz.svg);
}

.icon-node-openapi {
  background-image: url(../assets/image/svg/node/icon-node-openapi.svg);
}

.icon-httpresponse {
  background-image: url(../assets/image/svg/http-response.svg);
}

.icon-httpclient {
  background-image: url(../assets/image/svg/http-client.svg);
}

.icon-db2 {
  background-image: url(../assets/image/svg/node/icon-node-db2.svg);
}

.icon-gauss100 {
  background-image: url(../assets/image/svg/node/icon-node-gauss.svg);
}

.icon-gauss200 {
  background-image: url(../assets/image/svg/node/icon-node-gauss.svg);
}

.icon-mysql {
  background-image: url(../assets/image/svg/node/icon-node-mysql.svg);
}

.icon-oracle {
  background-image: url(../assets/image/svg/node/icon-node-oracle.svg);
}

.icon-postgresql {
  background-image: url(../assets/image/svg/node/icon-node-postgresql.svg);
}

.icon-redis {
  background-image: url(../assets/image/svg/node/icon-node-redis.svg);
}

.icon-sqlserver {
  background-image: url(../assets/image/svg/node/icon-node-sqlserver.svg);
}

.icon-activemq {
  background-image: url(../assets/image/svg/node/icon-node-activemq.svg);
}

.icon-artermismq {
  background-image: url(../assets/image/svg/node/icon-node-artermismq.svg);
}

.icon-ibmmq {
  background-image: url(../assets/image/svg/node/icon-node-ibmmq.svg);
}

.icon-kafka {
  background-image: url(../assets/image/svg/node/icon-node-kafka.svg);
}

.icon-node-multicast {
  background-image: url(../assets/image/svg/node/icon-node-multicast.svg);
}

.icon-node-joint {
  background-image: url(../assets/image/svg/node/icon-node-void.svg);
}

.icon-foreach {
  background-image: url(../assets/image/svg/foreach.svg);
}

.icon-delay-x {
  background-image: url(../assets/image/svg/delay.svg);
}

.icon-error-monitor {
  background-image: url(../assets/image/svg/error-monitor.svg);
}

.icon-end {
  background-image: url(../assets/image/svg/end.svg);
}

.icon-router {
  background-image: url(../assets/image/svg/router.svg);
}

.icon-symmetric-encryption {
  background-image: url(../assets/image/svg/symmetric-encryption.svg);
}

.icon-datamapper {
  background-image: url(../assets/image/svg/datamapper.svg);
}

.icon-datamapper {
  background-image: url(../assets/image/svg/datamapper.svg);
}

.icon-asymmetric-encryption {
  background-image: url(../assets/image/svg/asymmetric-encryption.svg);
}

.icon-edi {
  background-image: url(../assets/image/svg/edi.svg);
}

.icon-sorter {
  background-image: url(../assets/image/svg/sorter.svg);
}

.icon-filter-x {
  background-image: url(../assets/image/svg/filter.svg);
}

.icon-datasplitter {
  background-image: url(../assets/image/svg/datasplitter.svg);
}

.icon-dataconvert {
  background-image: url(../assets/image/svg/dataconvert.svg);
}

.icon-script {
  background-image: url(../assets/image/svg/script.svg);
}

.icon-setvariable {
  background-image: url(../assets/image/svg/setvariable.svg);
}

.icon-log-x {
  background-image: url(../assets/image/svg/log.svg);
}

/* 其他图标 */
.icon-edit {
  background-image: url(../assets/image/svg/icon-edit.svg);
}

.icon-yes {
  background-image: url(../assets/image/svg/icon-yes.svg);
}

.icon-no {
  background-image: url(../assets/image/svg/icon-no.svg);
}